<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuestiny</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="font.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <!-- <div id="strike" class="category">
            <div class="category-title"><h1>先锋精英队</h1></div>
            <h2 class="item-title">先锋突击焦痕</h2>
            <h2 class="item-content">{{ strikeSinge }}</h2>
            <h2 class="item-title">日暮打击地图</h2>
            <h2 class="item-content">{{ strikeOrealMap }}</h2>
            <h2 class="category-subtitle" v-if="strikeDoubleReward">本周日暮磨难双倍奖励</h2>
        </div> -->
        <div id="destination" class="category">
            <div class="category-title"><h1>目的地</h1></div>
            <!-- 木卫二 -->
            <h2 class="category-subtitle">木卫二</h2>
            <h2 class="item-title">深石地窖挑战</h2>
            <h2 class="item-content">{{ raidChallengeDeepStoneCrypt }}</h2>
            <h2 class="item-title">EXO挑战</h2>
            <h2 class="item-content">{{ europaExoChallenge }}</h2>
            <h2 class="item-title">痴狂强化</h2>
            <h2 class="item-content split-2">
                <span>DSC贮藏位置</span><span>扫描员位置</span>
                <span>{{ europaArgumentedObsession }}</span><span>{{ europaArgumentedObsessionFrom }}</span>
            </h2>
            <!-- 月球 -->
            <h2 class="category-subtitle">月球</h2>
            <h2 class="item-title">救赎花园挑战</h2>
            <h2 class="item-content">{{ raidChallengeGardenOfSalvation }}</h2>
            <h2 class="item-title">忧愁圣坛掉落</h2>
            <h2 class="item-content split-7" style="font-size: .8em;">
                <span v-for="num in weekDayNames">{{ num }}</span>
                <span v-for="icon in destMoonEventDropIcon" class="destiny-key">{{ icon }}</span>
                <span v-for="name in destMoonEventDrop">{{ name }}</span>
            </h2>
            <h2 class="item-title">徘徊着的梦魇</h2>
            <h2 class="item-content split-2">
                <span>名称</span><span>位置</span>
                <span>{{ destMoonNightmare.name }}</span><span>{{ destMoonNightmare.location }}</span>
            </h2>
            <!-- 梦城 -->
            <h2 class="category-subtitle">千梦之城</h2>
            <h2 class="item-title">最后遗愿挑战</h2>
            <h2 class="item-content">{{ raidChallengeLastWish }}</h2>
            <h2 class="item-title">梦城污染程度</h2>
            <h2 class="item-content">{{ destDreamingCityInfection }}</h2>
            <h2 class="item-title">梦城上维挑战</h2>
            <h2 class="item-content">{{ destDreamingCityAscentdantPlane }}</h2>
        </div>

        <div id="footer">
            <div>Vuestiny by <b>Lights Never Fade</b> For ALL GUARDIANS.</div>
            <div>Licensed under MIT. Serving on GitPages.</div>
        </div>

        <div v-show="showDebugPanel" id="debug">
            <h2>Debug Panel</h2>
            <input type="checkbox" value="ShowDebugPanel" :checked="showDebugPanel">
            <a href="#" id="weekCurrent">Current Week</a>
            <a href="#" id="weekAdd">Next Week</a>
            <a href="#" id="weekRemove">Last Week</a>
        </div>
    </div>
</body>
<script src="app.js"></script>
</html>